body {
    background-image: url("fundo\ certo.png");
    margin: center; 
    }
    h1 {
        color: #ffffff;
    }
    h2 {
        color: #ffffff;
    }
    h3 {
        color: #ffffff;
    }
    p {
        color: #ffffff;
    }
    .container1 {
        color: #ffffff

}
